.container {
  width: 960px;
  margin: 10px auto;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
ul li {
  cursor: pointer;
  padding: 12px 18px;
  background: #faf9f9;
  border-bottom: 1px solid #ccd3de;
}
.selected {
  color: rgb(24, 38, 70);
  background: #d9e4f5;
}

.form-section {
  border: 1px solid #d5dbe6;
  background-color: #fff;
  color: #303133;
  border-radius: 4px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  overflow: hidden;
  padding: 22px 18px;
}
.list-section {
  border: 1px solid #d5dbe6;
  background-color: #fff;
  color: #303133;
  border-radius: 4px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  overflow: hidden;
  padding: 0;
}
.no-todos {
  text-align: center;
  padding: 20px;
  color: #e45;
}