li {
  overflow: hidden;
}
.checkbox {
  float: left;
  margin-right: 10px;
}
.list-item {
  float: left;
}
.selected {
  color: rgb(24, 38, 70);
  background: #d9e4f5;
}
li:hover {
  color: rgb(24, 38, 70);
  background: #d9e4f5;
}
.remove {
  float: right;
  margin-right: 10px;
  color: rgb(29, 75, 145);
  font-size: 15px;
}
.remove:hover {
  color: rgb(250, 46, 46);
}